{
  "country_code": "1",
  "dialout_prefix": "9",
  "users": {
    "user@domain.com": {
      "client_id": "",
      "client_secret": "",
      "scope": "https://www.googleapis.com/auth/contacts.readonly",
      "user_agent": "python2",
      "access_token": "",
      "refresh_token": ""
    }
  }
}
