{
  "country_code": "1",
  "dialout_prefix": "9",
  "users": {
    "user@domain.com": {
      "access_token": "",
      "refresh_token": ""
    }
  },
  "cisco_directory": {
    "output_directory": "/var/www-unsec/asterisk/",
    "base_url": "http://10.0.100.3/asterisk/",
    "filename_base": "list",
    "filename_extension": ".xml",
    "max_entries_per_page": "32"
  }
}
